<?xml version="1.0"?>
<!--
/*////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\  FME QuickCheckout extension  \\\\\\\\\\\\\\\\\\\\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\ NOTICE OF LICENSE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                                                                   ///////
 \\\\\\\ This source file is subject to the Open Software License (OSL 3.0)\\\\\\\
 ///////   that is bundled with this package in the file LICENSE.txt.      ///////
 \\\\\\\   It is also available through the world-wide-web at this URL:    \\\\\\\
 ///////          http://opensource.org/licenses/osl-3.0.php               ///////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                      * @category   FME                            ///////
 \\\\\\\                      * @package    FME_QuickCheckout              \\\\\\\
 ///////    * @author     Malik Tahir Mehmood <malik.tahir786@gmail.com>   ///////
 \\\\\\\                                                                   \\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\* @copyright  Copyright 2010 © free-magentoextensions.com All right reserved\\\
 /////////////////////////////////////////////////////////////////////////////////
 */

-->

<config>
    <modules>
        <FME_QuickCheckout>
            <version>2.0.0</version>
        </FME_QuickCheckout>
    </modules>
    <frontend>
	<secure_url>
	    <checkout_onestep>/checkout/onestep</checkout_onestep>
	</secure_url>
	<routers>
	    <checkout>
		<args>
		    <modules>
			<FME_QuickCheckout before="Mage_Checkout">FME_QuickCheckout</FME_QuickCheckout> 
		    </modules>
		</args>
	    </checkout>
	</routers>
        <layout>
            <updates>
                <quickcheckout>
                    <file>quickcheckout.xml</file>
                </quickcheckout>
            </updates>
        </layout>
	<events>
	    <checkout_controller_quickcheckout_save_order_after>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
	    </checkout_controller_quickcheckout_save_order_after>
	</events>
        <translate>
            <modules>
                <FME_QuickCheckout>
                    <files>
                        <default>FME_QuickCheckout.csv</default>
                    </files>
                </FME_QuickCheckout>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
	    <quickcheckoutadmin>
		<use>admin</use>
		<args>
		    <module>FME_QuickCheckout</module>
		    <frontName>quickcheckoutadmin</frontName>
		</args>
	    </quickcheckoutadmin>
        </routers>
    </admin>
     <adminhtml>
	<menu>
	    <FME_Extensions>
		<title>FME Extensions</title>
		<sort_order>71</sort_order>
		<children>
		    <quickcheckout module="quickcheckout">
			<title>QuickCheckout</title>
			<sort_order>71</sort_order>
			<children>
			    <settings translate="title">
			      <title>Settings</title>
			      <sort_order>2</sort_order>
			      <action>adminhtml/system_config/edit/section/quickcheckout/</action>
			    </settings>
			</children>
		    </quickcheckout>
		</children>
	     </FME_Extensions>
	</menu>
	<acl>
	    <resources>
		<all>
		    <title>Allow Everything</title>
		</all>
		<admin>
		    <children>
			<FME_Extensions>
			    <title>FME Extensions</title>
			    <sort_order>71</sort_order>
			    <action>adminhtml/system_config/edit/section/quickcheckout/</action>
			</FME_Extensions>
			<system>
			    <children>
				<config>
				    <children>
					<quickcheckout translate="title" module="quickcheckout">
					    <title>QuickCheckout Section</title>
					</quickcheckout>
				    </children>
				</config>
			    </children>
			</system>
		    </children>
		</admin>
	    </resources>
	</acl>
	<layout>
            <updates>
                <quickcheckout module="quickcheckout">
                    <file>quickcheckout.xml</file>
                </quickcheckout>
            </updates>
        </layout>
    </adminhtml>
    <global>
    
        <models>
            <quickcheckout>
                <class>FME_QuickCheckout_Model</class>
            </quickcheckout>
        </models>
        <blocks>
            <quickcheckout>
                <class>FME_QuickCheckout_Block</class>
            </quickcheckout>
        </blocks>
	<fieldsets>
    		<sales_convert_quote>
    			<quickcheckout_comment><to_order>quickcheckout_comment</to_order></quickcheckout_comment>
			<quickcheckout_heard><to_order>quickcheckout_heard</to_order></quickcheckout_heard>
    		</sales_convert_quote>
    	</fieldsets>
        <helpers>
            <quickcheckout>
                <class>FME_QuickCheckout_Helper</class>
            </quickcheckout>
        </helpers>
        <resources>
	    <quickcheckout_setup>
                <setup>
                    <module>FME_QuickCheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quickcheckout_setup>
	    <quickcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quickcheckout_write>
            <quickcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quickcheckout_read>	
        </resources>
	<events>
	    <controller_action_predispatch_checkout_onepage_index>
		<observers>
		    <fme_quickcheckout_observer>
			<type>singleton</type>
			<class>quickcheckout/observer</class>
			<method>QuickCheckoutRedirect</method>
		    </fme_quickcheckout_observer>
		</observers>
	    </controller_action_predispatch_checkout_onepage_index>
	    <adminhtml_controller_action_predispatch_start>
		<observers>
		  <fme_quickcheckout_event>
		    <type>singleton</type>
		    <class>FME_QuickCheckout_Controller_Event</class>
		    <method>customTheme</method>
		  </fme_quickcheckout_event>
		</observers>
	    </adminhtml_controller_action_predispatch_start>
	</events>
    </global>
    <default>
	<quickcheckout>
	    <general>
		<active>1</active>
		<title><![CDATA[Quick Checkout]]></title>
		<enable_content>1</enable_content>
		<content><![CDATA[Enter the required options for checkout process]]></content>
		<label_comments><![CDATA[Enter Any Special Comments]]></label_comments>
		<enable_newsletter>1</enable_newsletter><enable_comments>1</enable_comments>
		<enable_cartupdate>1</enable_cartupdate><enable_coupon>1</enable_coupon>
		<enable_login>1</enable_login><enable_register>1</enable_register>
		<update_country>1</update_country><update_zip>1</update_zip><update_state>1</update_state>
	    </general>
	    <css_style>
		<admin><![CDATA[quickcheckout]]></admin>
		<agreement>200</agreement>
	    </css_style>
	    <quickheared>
		<enable_quickheared>1</enable_quickheared><label_quickheared><![CDATA[Which Source Lead You To Us]]></label_quickheared><options_quickheared><![CDATA[Google,Magazine Advertising,Newspaper,Friend]]></options_quickheared>
	    </quickheared>
	</quickcheckout>
    </default>
</config>