<?xml version="1.0" ?>

<config>
    <modules>
        <Briel_GalleryImportPlus>
            <version>0.1.0</version>
        </Briel_GalleryImportPlus>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <convert_adapter_product>Briel_GalleryImportPlus_Model_Gallery</convert_adapter_product>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>