<?xml version="1.0"?>
<config>
	<modules>
		<AW_Onsale>
			<version>2.1.2</version>
		</AW_Onsale>
	</modules>
	<global>
		<blocks>
			<onsale>
				<class>AW_Onsale_Block</class>
			</onsale>
		</blocks>
		<helpers>
			<onsale>
				<class>AW_Onsale_Helper</class>
			</onsale>
		</helpers>
		<resources>
			<onsale_setup>
				<setup>
					<module>AW_Onsale</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</onsale_setup>
			<onsale_write>
				<connection>
					<use>core_write</use>
				</connection>
			</onsale_write>
			<onsale_read>
				<connection>
					<use>core_read</use>
				</connection>
			</onsale_read>
		</resources>
		<models>
			<onsale>
				<class>AW_Onsale_Model</class>
			</onsale>
		</models>
	</global>
	<frontend>
		<layout>
			<updates>
				<onsale>
					<file>onsale.xml</file>
				</onsale>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<onsale>
											<title>aheadWorks - On Sale</title>
										</onsale>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<AW_Onsale>
					<files>
						<default>AW_Onsale.csv</default>
					</files>
				</AW_Onsale>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<onsale>
			<product_onsale_label>
				<display>1</display>
				<position>BR</position>
				<text>SALE</text>
				<threshold>0</threshold>
			</product_onsale_label>
			<category_onsale_label>
				<display>1</display>
				<position>BR</position>
				<text>SALE</text>
				<threshold>0</threshold>
			</category_onsale_label>
			<product_new_label>
				<display>1</display>
				<position>BR</position>
				<text>NEW</text>
				<days>30</days>
				<overrides>1</overrides>
				<overrides_native_new>0</overrides_native_new>
			</product_new_label>
			<category_new_label>
				<display>1</display>
				<position>BR</position>
				<text>NEW</text>
				<days>30</days>
				<overrides>1</overrides>
				<overrides_native_new>0</overrides_native_new>
			</category_new_label>
		</onsale>
	</default>
</config>